<!--- 
    Alexander Holmes 
    CIS-226 Web programming - Flask
    9/15/22 -->

    {% extends "base.html" %}

    {% block content %}
    
    <div class="d-flex flex-column mb-3" style="margin:15px">
        <h1>Alexander Holmes</h1>
        <p4>Computer Science Student</p4>
        <p4>Aspiring Software Engineer</p4><br>
        <p2>Currently, I am in pursuit of a Computer Science Degree at Kalamazoo Valley Community College.<br>
            I am currently learning about how to create responsive web pages using django,
            as well as advanced python related topics. <br>
        </p2>
    
        <div>
            <h4 style="color:#213FFF">Experience</h4>
            <h5>Landscape forms - Feburary 25th 2019 - November 1st 2019 (full-time)</h5>
            Proficient at MIG, TIG, Flux-core, and orbital welding<br>
            At landscape forms my role was in production. I would fabricate site furniture, lighting fixtures, and other products.<br><br>
    
            <h5>Hoogstraten Builders - December 10th 2020</h5>
            Proficient at framing, tiling, insulation, drywall, and measuring.<br>
    
            <h5>Sakura 2 - April 12th 2021 - Current</h5>
            Demonstrate good customer service while keeping up with a fast paced work enviornment
    
        
        </div>
    
        <div class="education">
            <h4 style="color:#213FFF">Education</h4>
            <h5>Kalamazoo Valley Community College: What I have learned so far</h5>
            <div class="container float-left text-primary">
                <ul class="list-group float-left">
                    <li class="list-group-item">Cloud based applications and serivces</li>
                    <li class="list-group-item">Practicing the Software Development Life Cycle</li>
                    <li class="list-group-item">Intermediate to advance Python</li>
                    <li class="list-group-item">Operating Systems</li>
                    <li class="list-group-item">Basic Linux and shell commands</li>
                </ul>
            </div>
        </div>
    </div>
    
    
    {% endblock content %}
    